---
import { BLOG_NAME } from "../consts";
---
<!-- ========== FOOTER ========== -->
<footer class="mt-auto py-3 border-t border-gray-200 dark:border-neutral-700">
  <div class="max-w-[80rem] mx-auto px-4 sm:px-6 lg:px-8 text-center">
    <p class="dark:text-white">&copy; {BLOG_NAME}</p>
  </div>
</footer>
  <!-- ========== END FOOTER ========== -->