---
import { BLOG_NAME } from "../consts";
---
<!-- ========== FOOTER ========== -->
<footer class="mt-auto py-3 border-t border-gray-200">
  <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 text-center">
    <p>&copy; {BLOG_NAME}</p>
  </div>
</footer>
  <!-- ========== END FOOTER ========== -->