---
const { frontmatter } = Astro.props;
import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';
---
<Layout title={frontmatter.title} desc={frontmatter.description}>
<!-- Blog Article -->
<div class="w-full max-w-[63rem] mx-auto">
    <!-- Content -->
    <div class="space-y-5 md:space-y-8">
        <div class="space-y-3">
            <PageTitle title={frontmatter.title} textPosition="left" spacing="normal"/>

            <slot />

            <div>
                <a class="m-1 inline-flex items-center gap-1.5 py-2 px-3 rounded-full text-sm bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 dark:bg-neutral-800 dark:text-neutral-200 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" href="#">
                Plan
                </a>
                <a class="m-1 inline-flex items-center gap-1.5 py-2 px-3 rounded-full text-sm bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 dark:bg-neutral-800 dark:text-neutral-200 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" href="#">
                Web development
                </a>
                <a class="m-1 inline-flex items-center gap-1.5 py-2 px-3 rounded-full text-sm bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 dark:bg-neutral-800 dark:text-neutral-200 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" href="#">
                Free
                </a>
                <a class="m-1 inline-flex items-center gap-1.5 py-2 px-3 rounded-full text-sm bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 dark:bg-neutral-800 dark:text-neutral-200 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" href="#">
                Team
                </a>
            </div>
        </div>
        <!-- End Content -->
    </div>
</div>
<!-- End Blog Article -->
</Layout>